<h1>P9Out#index</h1>
<p>Find me in app/views/p9_out/index.html.erb</p>
<% session.each do |key,value| %>
<%=key%>:<%=value%><br>
<% end %>
<%
userkey = session['warden.user.admin_user.key']
if(userkey)
  userId = userkey[0][0]
  adminUser = AdminUser.find(userId)
  if(adminUser)%>
    <%=adminUser.email%>
  <% else %>
    empty(1)
  <% end %>
<% else %>
  empty(2)
<% end %>